logging {
  level  = "{{ alloy_log_level }}"
  format = "{{ alloy_log_format }}"
}

livedebugging {
  enabled = false
}

{% if alloy_prometheus_remote_write_url %}
prometheus.remote_write "metrics_backend" {
  endpoint {
    url = "{{ alloy_prometheus_remote_write_url }}"
{% if (alloy_prometheus_username | default('')) and (alloy_prometheus_password | default('')) %}
    basic_auth {
      username = "{{ alloy_prometheus_username }}"
      password = "{{ alloy_prometheus_password }}"
    }
{% endif %}
  }
}

prometheus.exporter.unix "integrations_node_exporter" {}

prometheus.scrape "integrations_node_exporter" {
  targets         = prometheus.exporter.unix.integrations_node_exporter.targets
  forward_to      = [prometheus.remote_write.metrics_backend.receiver]
  job_name        = "integrations/node_exporter"
  scrape_interval = "{{ alloy_scrape_interval }}"
}

{% for scrape_target in alloy_scrape_targets %}
prometheus.scrape "{{ scrape_target.name | replace('-', '_') | replace('.', '_') }}" {
  targets = [
    {
      "__address__" = "{{ scrape_target.address }}",
      "job"         = "{{ scrape_target.job | default(scrape_target.name) }}",
      "instance"    = "{{ alloy_instance_label }}"{% for label_key, label_value in (scrape_target.labels | default({})).items() %},
      "{{ label_key }}" = "{{ label_value }}"{% endfor %}
    },
  ]
  forward_to      = [prometheus.remote_write.metrics_backend.receiver]
  scrape_interval = "{{ scrape_target.scrape_interval | default(alloy_scrape_interval) }}"
}

{% endfor %}
{% endif %}
{% if alloy_loki_write_url %}
loki.write "logs_backend" {
  endpoint {
    url = "{{ alloy_loki_write_url }}"
{% if (alloy_loki_username | default('')) and (alloy_loki_password | default('')) %}
    basic_auth {
      username = "{{ alloy_loki_username }}"
      password = "{{ alloy_loki_password }}"
    }
{% endif %}
  }
}

local.file_match "host_logs" {
  path_targets = [
{% for log_target in alloy_file_log_paths %}
    {
      "__path__" = "{{ log_target.path }}",
      "job"      = "{{ log_target.job }}",
      "instance" = "{{ alloy_instance_label }}"{% for label_key, label_value in (log_target.labels | default({})).items() %},
      "{{ label_key }}" = "{{ label_value }}"{% endfor %}
    },
{% endfor %}
  ]
}

loki.process "host_logs" {
  stage.static_labels {
    values = {
      host = "{{ alloy_instance_label }}",
    }
  }
  forward_to = [loki.write.logs_backend.receiver]
}

loki.source.file "host_logs" {
  targets       = local.file_match.host_logs.targets
  forward_to    = [loki.process.host_logs.receiver]
  tail_from_end = true
}
{% endif %}
